.container {
  width: 95%;
  margin: 0 auto;
}

.main {
  width: 100%;
  min-height: 600px;
  border: 2px solid black;
  padding: 10px;
}

.head {
  width: 50%;
  margin: 0 auto;
}

.head h1 {
  border: 2px solid black;
  text-align: center;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box1 {
  width: 250px;
  min-height: 250px;
  margin: 10px;
  border: 2px solid black;
}

.box1 h2 {
  text-align: center;
}
.inside {
  width: 98%;
  height: 98%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sqaure {
  width: 45%;
  height: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 90%;
  height: 90%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.para {
  margin-left: 10px;
  margin-bottom: 40px;
}
